.footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.button {
    text-align: center;
    text-decoration: none;
    color: #000000;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.text {
    margin-left: 10px;
}
