.footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1rem;
}

.button {
    text-align: center;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.text {
    margin-left: 10px;
}
