.container {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/img/background_noel.jpg");
    background-size: cover;
    background-position: end;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.img {
    height: 200px;
    width: 200px;
}